/*

ApexChain design system
Copyright 2022 ApexChain
License: MIT

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

#navbar_links {
  font-family: 'Sanchez', serif;
}

#navbar_links:hover {
  text-decoration: underline;
}

#welcome_start {
  margin: 0 auto 10px;
  padding: 0 25px;
}

.connect_btn_navbar {
  width: 100%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.connect_btn_navbar:hover,
.connect_btn_navbar_sm:hover {
  opacity: 0.9;
}

.connect_btn_navbar_sm {
  width: 80%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.gradient_bg_welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsl(276, 95%, 26%) 0, transparent 50%);
}

.features_content {
  /* background-color:#0f0e13; */
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 0% 100%, rgb(85, 5, 105) 0, transparent 50%);
}

#blue_glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white_glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
  font-family: 'Sanchez', serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
}

#main_line {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bigger_btn {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  text-align: center;
  border-radius: 10px;
}

.connect_wallet_text {
  display: flex;
}

.offerings {
  color: white;
}

#offerings_title {
  font-size: 44px;
  font-family: 'Sanchez', serif;
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#offerings_description {
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offerings_pic_flex {
  display: flex;
}

#offerings_pic_dollar {
  margin-top: 30px;
  color: white;
  align-items: flex-start;
}

#offerings_pic_eth {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

#card_description {
  position: relative;
  background-color: rgba(21, 61, 111, 0.44);
  border: 2px solid rgba(22, 72, 133, 0.44);
  color: rgb(80, 144, 234);
  max-width: 470px;
  width: 80%;  
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-weight: 700;
}

#card_description_second_part {
  font-size: 10px;
  color: rgb(154, 184, 228);;
}

#eth_card {
  background-color: #5d4257;
  background-image: linear-gradient(315deg, #5d4257 0%, #90b8a5 74%);
    
}

#eth_card_address {
  font-family: 'Sanchez', serif;
}

.etherscan_block {
  color: white;
  font-family: 'Sanchez', serif;
  text-decoration: underline;
  font-size: 20px;
}

.etherscan_block:hover {
  cursor: pointer;
  text-decoration: overline;
}

#ugQLp {
  position: relative;
  max-width: 470px;
  width: 100%;
  background: rgb(25, 27, 31);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#swap_text {
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 16px;
  align-self: flex-start;
  padding-bottom: 20px;
}

#upper_block {
  display: flex;
}

#input_block_one {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 1rem 0.75rem;
  background-color: #46434d;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 100%;
  font-weight: 1000;
  font-size: 20px;
}

#arrow {
  font-size: 20px;
  font-weight: 900;
  color: #c5c1d4;
}

#input_block_two {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 1rem 0.75rem;
  background-color: #46434d;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 100%;
  font-weight: 1000;
}

#ultimate_send_btn {
  width: 100%;
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  text-align: center;
  font-weight: 900;
  border-radius: 20px;
  padding: 10px;
}

.features_container {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  justify-content: center;
  gap: 50px;
}

.qualities {
  color: white;
  width: 100%;
  max-width: 25em;
  justify-content: space-between;
}

.qualitites_header {
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Sanchez', serif;
  font-size: 35px;
}

.qualities_description {
  font-family: 'Sanchez', serif;
  font-size: 18px;
}

#back_button {
  padding-left: 70px;
  padding-top: 30px;
}

.creators_page {
  color: white;
  background-color: black;
  background-image: 
    radial-gradient(at 0% 0%, rgb(36, 23, 104) 0, transparent 50%), 
    radial-gradient(at 0% 40%, rgb(85, 5, 105) 0, transparent 50%);
}

#creators_title {
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 50px;
  font-size: 80px;
  text-decoration: overline;
}

#punks_container {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  justify-content: center;
  gap: 50px;
}


.punks {
  color: white;
  width: 100%;
  max-width: 25em;
  justify-content: space-between;
}

.punks_name {
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Sanchez', serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.punks_description {
  font-family: 'Sanchez', serif;
  font-size: 18px;
}

#punkpic {
  border-radius: 50%;
  width: 10px;
  text-align: center;
}

#creators_brag {
  padding: 60px;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  #apexlogo {
    width: 50px;
  }

  #card_description {
    width: 100%;
  }

  .features_container {
    display: block;
  }

  #back_button {
    padding-left: 30px;
    padding-top: 30px;
  }

  #creators_title {
    font-size: 25px;
  }

  .punks_name {
    font-size: 18px;
  }

  #creators_brag {
    padding: 60px;
    font-size: 20px;
  }
}
