/*

ApexChain design system
Copyright 2022 ApexChain
License: MIT

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

#navbar_links {
  font-family: 'Sanchez', serif;
}

.after_connected_address_small {
  background-color: rgba(21, 61, 111, 0.44);
  border: 2px solid rgba(22, 72, 133, 0.44);
  color: rgb(80, 144, 234);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 20px;
  padding: 8px;
}

.after_connected_address_big {
  background-color: rgba(21, 61, 111, 0.44);
  /* border: 2px solid rgba(255, 251, 251, 0.44); */
  border: 10px solid rgba(126, 29, 159, 0.44);
  color: rgb(80, 144, 234);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 20px;
  padding: 10px;
  margin: 40px;
  text-align: center;
}

#navbar_links:hover {
  text-decoration: underline;
}

#welcome_start {
  margin: 0 auto 10px;
  padding: 0 25px;
}

.connect_btn_navbar {
  width: 100%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.connect_btn_navbar {
  border-radius: 50px;
  text-decoration: none;
  display: inline;
  color: black;
  cursor: pointer;
  color: white;
  box-shadow: rgb(255 149 238) 0px 0px 0px 0px;
  transform: scale(1);
  animation: 2s ease 0s infinite normal none running pulse;
  font-size: 18px;
  transition: all .2s ease-in-out;
}

.connect_btn_navbar:hover,
.connect_btn_navbar_sm:hover {
  opacity: 0.9;
}

.connect_btn_navbar_sm {
  width: 80%;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.gradient_bg_welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsl(276, 95%, 26%) 0, transparent 50%);
}

.features_content {
  /* background-color:#0f0e13; */
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 0% 40%, rgb(85, 5, 105) 0, transparent 50%);
}

.footer_content {
  background-color: white;
}

#blue_glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white_glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
  font-family: 'Sanchez', serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
}

#main_line {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bigger_btn {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  text-align: center;
  border-radius: 10px;
}

.connect_wallet_text {
  display: flex;
}

.address_pic {
  gap: 50px;
  font-family: 'Sanchez', serif;
}

.address_pic img {
  border-radius: 50%;
}

.address_picture {
  color: white;
  align-self: center;
}

.address_pic_navbar {
  font-family: 'Sanchez', serif;
  display: flex;
  gap: 20px;
}

.address_pic_navbar img {
  border-radius: 50%;
}

.address_picture_navbar {
  color: white;
  align-self: center;
}

.offerings {
  color: white;
}

#offerings_title {
  font-size: 44px;
  font-family: 'Sanchez', serif;
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#offerings_description {
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offerings_pic_flex {
  display: flex;
}

#offerings_pic_dollar {
  margin-top: 30px;
  color: white;
  align-items: flex-start;
}

#offerings_pic_eth {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

#notconnected_text {
  color: white;
}

#currentblock_title {
  color: #9eabe4;
}

.currentblock_count,
.notconnected_warning_block {
  display: flex;
  text-align: center;
}

.red_dot_currentblock {
  width: 8px;
  height: 8px;
  margin-top: 7px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(226, 12, 12);
  animation: blinker 1s linear infinite;
}

.green_dot_currentblock {
  width: 8px;
  height: 8px;
  margin-top: 6px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(9, 245, 107);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.currentblock_dynamic_number {
  color: white;
  font-family: 'PT Mono', monospace;
}

#card_description {
  position: relative;
  background-color: rgba(21, 61, 111, 0.44);
  border: 2px solid rgba(22, 72, 133, 0.44);
  color: rgb(80, 144, 234);
  max-width: 470px;
  width: 80%;  
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-weight: 700;
}

#card_description_second_part {
  font-size: 10px;
  color: rgb(154, 184, 228);;
}

#eth_card {
  background-color: #5d4257;
  background-image: linear-gradient(315deg, #5d4257 0%, #90b8a5 74%);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#eth_card_address {
  font-family: 'Sanchez', serif;
  font-size: 16px;
}

#eth_card_address_desc {
  color: rgb(53, 49, 49);
  font-size: 12px;
  font-weight: 700;
}

#copy_button {
  font-size: 15px;
}

#copy_button:hover {
  cursor: pointer;
  color: #314188;
}

.etherscan_block {
  color: white;
  font-family: 'Sanchez', serif;
  text-decoration: underline;
  font-size: 20px;
}

.etherscan_block:hover {
  cursor: pointer;
  text-decoration: overline;
}

.tx_message {
  max-width: 80%;
  margin: auto;
  padding-bottom: 6px;
}

.tx_hash {
  font-family: 'PT Mono', monospace;
  max-width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

#ugQLp {
  font-family: 'PT Mono', monospace;
  position: relative;
  max-width: 480px;
  width: 100%;
  background: rgb(25, 27, 31);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 24px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}


#swap_text {
  margin: 0px;
  min-width: 0px;
  font-size: 16px;
  align-self: flex-start;
  padding-bottom: 20px;
}

#upper_block {
  display: flex;
}

#input_block_one {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 1rem 0.75rem;
  background-color: #46434d;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 100%;
  font-weight: 1000;
  font-size: 20px;
}

#arrow {
  font-size: 20px;
  font-weight: 900;
  color: #c5c1d4;
}

#input_block_two {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 1rem 0.75rem;
  background-color: #46434d;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 100%;
}

#ultimate_send_btn {
  width: 100%;
  font-family: "Inter";
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  text-align: center;
  font-weight: 900;
  border-radius: 20px;
  padding: 10px;
}

.features_container {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  justify-content: center;
  gap: 50px;
}

.qualities {
  color: white;
  width: 100%;
  max-width: 25em;
  justify-content: space-between;
}

.qualitites_header {
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Sanchez', serif;
  font-size: 35px;
}

.qualities_description {
  font-family: 'Sanchez', serif;
  font-size: 18px;
}

#back_button {
  padding-left: 70px;
  padding-top: 30px;
}

.creators_page,
.docs_page {
  color: white;
  background-color: black;
  background-image:
    radial-gradient(at -30% 57%, rgb(36, 23, 104) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(85, 5, 105) 0, transparent 50%);
}

.status_page {
  color: white;
}

#nft_construct {
  color: white;
  font-family: "Inter";
  font-weight: 900;
  font-size: 30px;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#creators_title,
#docs_title {
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 50px;
  font-size: 80px;
  text-decoration: overline;
}

.mainapp_page,
.nft_page {
  color: rgb(255, 255, 255);
  background-color: #212429;
}

.verify_page {
  background-color: #212429;
  color: white;
  padding-bottom: 16px;
}

.inputted_txhash {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: white;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  background-color: rgb(86, 82, 84);
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  font-family: 'PT Mono', monospace;
  outline: none;
  font-size: 15px;
  padding-left: 12px;
}

.verify_container {
  width: 620px;
  margin: 60px auto;
}

.verify_button {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #9147ff;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

.verify_button:hover {
  opacity: 0.9;
}

#verify_description {
  position: relative;
  background-color: rgba(21, 61, 111, 0.44);
  border: 2px solid rgba(22, 72, 133, 0.44);
  color: rgb(80, 144, 234);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}

#mainapp_title,
#verify_title {
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  text-decoration: overline;
}

.mainapp_container {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  gap: 150px;
  align-items: center;

  /* padding-bottom: 6%; */
}

#eth_card_mainapp {
  background-color: #5d4257;
  background-image: linear-gradient(315deg, #5d4257 0%, #90b8a5 74%);
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

.go_to_app_button {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  border-radius: 99px;
  text-decoration: none;
  display: inline;
  padding: 15px 30px;
  margin-top: 2rem;
  color: black;
  cursor: pointer;
  box-shadow: rgb(255 149 238) 0px 0px 0px 0px;
  transform: scale(1);
  animation: 2s ease 0s infinite normal none running pulse;
  font-size: 28px;
  font-weight: 800;
  color: rgb(107, 17, 56);
  line-height: 1.5;
  transition: all .2s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgb(255 149 238 / 70%);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgb(255 149 238 / 0%);
  }
  100% {
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgb(255 149 238 / 0%);
  }
}

#punks_container,
#traits_container {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.punks {
  color: white;
  width: 100%;
  max-width: 25em;
  justify-content: space-between;
}

.punks_name,
.traits_name {
  background: linear-gradient(315deg, #314188 0%, #dd94ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Sanchez', serif;
  font-size: 25px;
  margin-bottom: 30px;
}

.punks_description {
  font-family: "PT Mono", monospace;
  font-size: 15px;
}

.traits_description {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  color: wheat;
  text-align: left;
}

#punkpic {
  border-radius: 50%;
  width: 10px;
  text-align: center;
}

#creators_brag {
  padding: 60px;
  font-size: 40px;
}

.docs_container {
  max-width: 60%;
  margin: 30px auto;
  gap: 50px;
}

.github {
  text-align: center;
}

#docs_content {
  margin-top: 70px;
}

#docs_content_heading {
  font-size: 35px;
  font-family: 'Noto Serif Display', serif;
  text-decoration: underline;
}

#docs_explanation {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Sanchez', serif;
}

.docs_pics img {
  border-radius: 5px;
}

.footer {
  display: flex;
}

.footer_container_left {
  color: white;
  background-color: #0f0e13;
  padding: 50px;
}

#footer_logo_name {
  display: flex;
  gap: 40px;
  align-items: center;
}

#footer_brag {
  font-family: 'Noto Serif Display', serif;
  font-size: 40px;
  width: 60%;
}

.footer_container_right {
  color: white;
  background-color: #0f0e13;
  padding: 50px;
  width: 40%;
}

.license_container {
  max-width: 50%;
  margin: 30px auto;
  text-align: justify;
  gap: 50px;
  font-family: 'Sanchez', serif;
}

#status {
  font-size: 15px;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  #apexlogo {
    width: 50px;
  }

  #traits_container {
    display: block;
  }

  .traits_name {
    margin-top: 60px;
  }

  #card_description {
    width: 100%;
  }

  .features_container {
    display: block;
  }

  #back_button {
    padding-left: 30px;
    padding-top: 30px;
  }

  #creators_title,
  #docs_title {
    font-size: 25px;
  }

  .punks_name {
    font-size: 18px;
  }

  #creators_brag {
    padding: 60px;
    font-size: 20px;
  }

  #opensource_description {
    text-align: left;
  }

  #nft_construct {
    font-weight: 900;
    font-size: 15px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mainapp_container{
    display: block;
  }

  .verify_page {
    padding-bottom: 50%;
  }

  .verify_container {
    max-width: 100%;
    padding: 20px;
  }

  #ugQLp {
    margin-top: 60px;
  }

  .footer {
    display: block;
  }

  .footer_container_left {
    padding: 20px;
    width: 100%;
  }
  
  #footer_brag {
    font-family: 'Noto Serif Display', serif;
    font-size: 30px;
    width: 100%;
  }

  .footer_container_right {
    padding: 20px;
    width: 100%;
  }

  .license_container,
  .docs_container {
    max-width: 85%;
    margin: 30px auto;
    font-family: 'Sanchez', serif;
  } 
}
